#messages {
    padding: 10px;
    height: calc(100vh - 9rem);
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    color: red;
}

.message.self {
    background-color: #d1ffd1;
    align-self: flex-end;
    text-align: right;
}

.message.other {
    background-color: #e0e0e0;
    align-self: flex-start;
    text-align: left;
}