#messages {
    border: 1px, solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.self {
    background-color: #d1ffd1;
    align-self: flex-end;
    text-align: right;
}

.message.other {
    background-color: #e0e0e0;
    align-self: flex-start;
    text-align: left;
}